<strong>switchMap-ex works!</strong>
<hr>

<strong>Serch example using switchMap Operator</strong><br><br>
<form #serchForm="ngForm">
  <input type="text" ngModel placeholder="Search" name="search_text" autocomplete="off" required>
</form>
<hr>
<div>
  <h5># Result :- <span style="text-align: right;"> 5 result founds</span> </h5>
  <table>
    <tbody>
      <tr>
        <td style="border-bottom: 1px solid gray;">hello</td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<br>


<hr>
<strong>Map Ex</strong>
<ul id="el"></ul>

<hr>
<strong>Map + SwitchAll Ex</strong>
<ul id="el2"></ul>

<hr>
<strong> SwitchMap Ex - </strong>
<ul id="el3"></ul>